/* Base file modifications */
body:has(.hero) .bd-sidebar-primary,
body:has(.hero) .sidebar-toggle,
body:has(.hero) .bd-sidebar-secondary {
    display: none !important;
}

body:has(.hero) .bd-article-container {
    max-width: unset !important;
}

body:has(.hero) .bd-page-width {
    max-width: unset !important;
}

body:has(.hero) .bd-article {
    display: flex;
    flex-direction: column;
    padding: 0;
}

body:has(.hero) .bd-article > section > h1 {
    display: none;
}

@media (min-width: 960px) {
    body:has(.hero) .bd-header-article {
        justify-content: center;
    }

    body:has(.hero) .header-article-items,
    body:has(.hero) .doc-body > section {
        max-width: 70rem !important;
        align-self: center;
        width: -moz-available;
        width: -webkit-fill-available;
        width: fill-available;
    }
}

/* Page styles */
.doc-body {
    display: flex;
    flex-direction: column;
}

.hero {
    width: 100%;
    display: grid;
    grid: auto-flow / 1fr .8fr;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid #9aa0a6;
}

.hero h1 {
    font: 700 52px 'Google Sans';
}

.hero h1:after {
    content: '';
    position: absolute;
    display: block;
    top: -750px;
    left: 130px;
    z-index: -1;
    pointer-events: none;
    width: 1500px;
    height: 1500px;
    background: radial-gradient(circle, rgba(94, 151, 246, 0.14) 0%, rgba(94, 151, 246, 0) 70%);
}

.hero img {
    background: none !important;
}
